/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: #0f0f0f;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}
